extends ./layouts/_common

block body
  include partials/_page

block styles
  link(link href="//fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css")
  link(rel="stylesheet" href=url('panel/styles/hljs/github.css'))
  link(rel="stylesheet" href=url('panel/styles/gh-fork-ribbon.css'))
  link(rel="stylesheet" href=url('panel/styles/panel.css'))

block scripts
  script(src=url('common/projects/common-dependencies.js'))
  script(src=url('panel/projects/panel-dependencies.js'))
  script(src=url('panel/projects/panel-app.js'))