div(ng-if="collection.collection.pending")
  center
    spinner



div(ng-if="!collection.collection.pending" shift="collection" popover-manager="popover.opened")
  div.icon(
  ng-repeat="icon in ::collection.views track by icon.icon.id"
  ng-show="icon.visible"
  popover-open=""
  ng-click="showIconPopover(icon, $event)"
  )
    webicon(icon="{{::collection.collection.id}}:{{::icon.icon.id}}")
    .icon-label(style="font-size: .7em" highlight-text="{{::icon.icon.label}}" highlight-text-needle="{{$parent.search}}" highlight-text-from-word-start="true")

  .icon-popover(popover="")
    .icon-popover-icon-box
      webicon(icon="{{collection.collection.id}}:{{::popover.icon.icon.id}}" ng-style="{color: popover.color}")
    .icon-popover-code(
    hljs=""
    language="html"
    source='\'' +
      escape('<webicon icon="') +
      '{{collection.collection.id}}:{{::popover.icon.icon.id}}' +
      '"/>\' | unescape'
    )