.header(ng-init='modalShown = false')
  h1= t($.page.title)
    sup= t('β')
  .subheader
    p Google Fonts for icons. Based on
      = ' '
      a(href="https://github.com/icons8/webicon", target="_blank") Webicon
    p Instructions: 1. Insert
      = ' '
      a.modal-link(href='', ng-click='modalShown = !modalShown') this code
    p 2. Search and click icons

  modal-dialog.ng-modal-wrapper(show='modalShown')
    h4 AngularJS version
    div(
      hljs=""
      language="html"
      source='\'' +
        '<script type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/angular-webicon.min.js"></script>'
        + '\''
    )
    h4 jQuery version
    div(
      hljs=""
      language="html"
      source='\'' +
        '<script type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/jquery-webicon.min.js"></script>'
        + '\''
    )

  .row
    .col-md-10.col-md-offset-1
      collection-select(collections="collections")

.body
  h2(ng-bind="config.collections.labels[collections.current.collection.id] || collections.current.collection.label")

  .col-md-6.col-md-offset-3
    search-input(search="search")

  .col-md-10.col-md-offset-1
    collection-icons(search="search" collection="collections.current")

  .col-md-8.col-md-offset-2(inject-service="config")
    br
    div(btf-markdown="config.collections.licenses[collections.current.collection.id]")